<%- contentFor('body') %>
<body class="text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Project ToDo 에 오신 것을 환영합니다</h1>
            <p class="lead">효율적으로 작업을 관리하고 체계적으로 정리하세요. 우리의 플랫폼은 일일 할 일 목록을 추적하고, 마감일을 설정하며 목표를 달성하는 데 도움을 줍니다.</p>
            <p class="lead">
                <a href="/auth/loginPage" class="btn btn-lg btn-secondary fw-bold border-white">시작하기</a>
            </p>
        </main>
    </div>
<script>
    $(function(){
       $(".nav").find("li a").removeClass("active");
       $(".homeNav").addClass("active");
    });
</script>
</body>