<%- include('common/header', { title: 'Main' }) %>
    <body class="login-page" style="min-height: 494.802px;">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Project</b>TODO</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">세션을 시작하려면 로그인을 하세요</p>
                <form action="/auth/login" method="post" id="loginForm">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email" name="user_email" id="userEmail">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" name="user_password" id="userPassword">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    자동 로그인
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <button type="submit" id='loginBtn' class="btn btn-primary btn-block">로그인</button>
                        </div>

                    </div>
                </form>
                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                         페이스북 로그인
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                         구글 로그인
                    </a>
                    <a id="kakaoLoginBtn" href="javascript:void(0);" class="btn btn-block btn-social btn-kakao">
                         카카오 로그인
                    </a>
                </div>

                <p class="mb-1">
                    <a href="#">비밀번호 찾기</a>
                </p>
                <p class="mb-1">
                    <a href="#">회원가입</a>
                </p>
            </div>

        </div>
    </div>
    </body>
<script src="/js/common/main.js"></script>
</html>